.contact {
	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		@include mq("tablet-wide", max) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 50%;
		text-align: center;
		@include mq("tablet-wide", max) {
			margin-bottom: 60px;
			width: 100%;
		}
	}
	&__data,
	&__price {
		@include balqis (96px, normal, normal, false, 128px);
		color: $accent;
	}
	&__data {
		margin-bottom: 0px;
		@include mq("tablet", max) {
			margin-left: 0;
		}
	}
	&__price {
		margin-left: 128px;
		margin-bottom: 100px;
		@include mq("tablet", max) {
			margin-left: 0;
		}
	}
	&__form {
		max-width: 383px;
		margin: 0 auto;
		&-input {
			width: 100%;
			height: 50px;
			margin-bottom: 20px;
			padding: 0 31px;
			@include RobotoCond (18px, 300, normal, false, 21px);
			color: $textColor;
			border: 1px solid $accent;
		}
	}
}