.fairy-tail {
	&__inner {
		position: relative;
		max-width: 1560px;
	}
	&__slider {
		width: 61.5%;
		@include mq("tablet-wide", max) {
			width: 100%;
		}
	}
	&__content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		max-width: 38.5%;
		padding: 0 15px;
		@include mq("tablet-wide", max) {
			position: static;
			margin-top: 4vw;
			max-width: 100%;
		}
	}
	&__container {
		margin-left: 55px;
		height: 100%;
		@include mq("tablet-wide", max) {
			margin-left: 3.5vw;
		}
	}
	&__body {
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		height: 100%;
	}
	&__item img {

	}
}