// serif — шрифты с засечками (антиквенные), типа Times;
// sans-serif — рубленные шрифты (шрифты без засечек или гротески), типичный представитель — Arial;
// cursive — курсивные шрифты;
// fantasy — декоративные шрифты;
// monospace — моноширинные шрифты, ширина каждого символа в таком семействе одинакова (шрифт Courier).

// 100 - Extra Light or Ultra Light
// 200 - Light or Thin
// 300 - Book or Demi
// 400 - Regular or Normal
// 500 - Medium
// 600 - Semibold or Demibold
// 700 - Bold
// 800 - Black or Extra Bold or Heavy
// 900 - Extra Black or Fat or Ultra Black


@mixin font ($family, $furl, $style: normal, $weight: 400) {
	@font-face {
		font-family: $family;
		font-style: $style;
		font-weight: $weight;
		src: local("#{$family}"), url("../fonts/#{$furl}.woff2") format("woff2"),
				 local("#{$family}"), url("../fonts/#{$furl}.woff") format("woff");
	}
}



@include font("balqis", "balqis", normal, 400);
@include font("RobotoCond", "RobotoCondensed-Regular", normal, 400);
@include font("RobotoCond", "RobotoCondensed-Light", normal, 200);
@include font("RobotoCond", "RobotoCondensed-LightItalic", italic, 200);



@mixin RobotoCond ($size: false, $weight: false, $style: false, $spacing: false, $lh: false) {
	font-family: "RobotoCond", sans-serif;
	@if $size { font-size: $size; }
	@if $weight { font-weight: $weight; }
	@if $style { font-style: $style; }
	@if $spacing { letter-spacing: $spacing; }
	@if $lh { line-height: $lh; }
}

@mixin balqis ($size: false, $weight: false, $style: false, $spacing: false, $lh: false) {
	font-family: "balqis";
	@if $size { font-size: $size; }
	@if $weight { font-weight: $weight; }
	@if $style { font-style: $style; }
	@if $spacing { letter-spacing: $spacing; }
	@if $lh { line-height: $lh; }
}