.header {
	position: relative;
	height: 100vh;
	// margin-bottom: 200px;
	background: {
		image: url("../images/bg/header-bg.jpg");
		repeat: no-repeat;
		position: bottom center;
		size: cover;
	}
	&-top {
		display: flex;
		justify-content: space-between;
		padding-top: 72px;
		@include mq("tablet", max) {
			display: flex;
			flex-flow: column;
		}
		&__phone {
			position: relative;
			padding-left: 40px;
			@include RobotoCond(24px, 400, normal, false, 28px);
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 30px;
				height: 30px;
				background-image: url("../images/icons/phone-icons.svg");
			}
			@include mq("tablet", max) {
				padding-left: 0;
				&::before {
					content: '';
					background-image: none;
				}
			}
		}
	}
	a {
		color: inherit;
		&:hover {
			text-decoration: underline;
		}
	}
	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include balqis(20vw, normal, normal, false, false); //334px
		text-align: center;
		@include mq("tablet", max) {
			top: 60%;
		}
		&-subtitle {
			display: block;
			margin-top: -68px;
			margin-right: 0;
			@include RobotoCond(4.55vw, 200, italic, false, false); //66px
			text-align: right;
			@include mq("tablet", max) {
				margin-top: 0;
				font-size: 24px;
				text-align: center;
			}
		}
	}
}

.nav {
	&-menu {
		@include mq("tablet", max) {
			display: flex;
			flex-flow: column;
			align-items: flex-start;
		}
		&__item {
			display: inline-block;
			@include mq("tablet", max) {
				padding-bottom: 26px;
				margin-bottom: 0;
			}
			+ .nav-menu__item {
				padding-left: 52px;
				@include mq("tablet", max) {
					padding-left: 0;
				}
			}
		}
		&__link {
			@include RobotoCond(24px, 400, normal, false, false);
			@include mq("phablet", max) {
				font-size: 20px;
			}
		}
	}
}
