.hotel {
	&__inner {
		position: relative;
		max-width: 1200px;
	}
	&__img {
		width: 41.5%;
	}
	&__content {
		position: absolute;
		top: 0;
		right: 0;
		width: 58.5%;
		height: 100%;
	}
	&__container {
		margin-left: 100px;
		height: 100%;
	}
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	&__gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&-thumb {
			margin-top: 50px;
			width: 280px;
			height: 150px;
			object-fit: cover;
		}
	}
}