@import "fonts";
@import "config";
@import "myReset";

@import "header";
@import "fairy-tail";
@import "our-trip";
@import "hotel";
@import "price";
@import "contact";
@import "footer";

::placeholder {
	@include RobotoCond (18px, 300, normal, false, 21px);
	color: $textColor;
}

::selection {
	background-color: $accent;
	color: #fff;
}


body {
	position: relative;
	min-width: 320px;
	font-family: $roboto;
	font-size: $fontSize;
	line-height: 1.65;
	color: $textColor;
	overflow-x: hidden;
	
}

.body-text {
	padding: 10px 0;
	@include RobotoCond (18px, 300, normal, false, 21px);
	&__bold {
		@include RobotoCond (18px, 400, normal, false, 21px);
	}
}

.container {
	margin: 0 auto;
	max-width: 1230px;
	padding: 0 15px;
}

.section {
	margin: 200px auto;
	max-width: 1920px;
}

.title {
	margin: 0 0 100px;
	@include balqis (96px, normal, normal, false, 128px);
	color: $accent;
}

.subtitle {
	display: block;
	@include RobotoCond (24px, 300, italic, false, 28px);
	color: $textColor;
	&__fairy-tail {
		margin-top: -24px;
		margin-left: 190px;
	}
	&__our-trip {
		margin-top: -24px;
		margin-left: 260px;
	}
	&__hotel {
		margin-top: -24px;
		margin-left: 120px;
	}
	&__price {
		margin-top: -24px;
		margin-left: 120px;
	}
	&-data {
		margin-top: -24px;
		margin-left: 180px;
	}
	&-price {
		margin-top: -24px;
		margin-left: 180px;
	}
}

.h4-title {
	@include RobotoCond (24px, 400, normal, false, 28px) 
	color: $textColor;
	&__price {
		padding-bottom: 50px;
	}
	&__form {
		margin-bottom: 50px;
	}
}

.slick {
	&-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 5;
	}
	&-prev {
		left: 0;
	}
	&-next {
		right: 0;
	}
}

button {
	background-color: #fff;
}

.btn {
	padding: 11px 53px;
	@extend .body-text;
	text-transform: uppercase;
	border: 1px solid $accent;
	&:hover {
		background-color: $accent;
		color: #fff;
		transition: all 0.5s ease;
	}
}
